# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

#### Java ####
# Compiled class file
*.class

# intellij files
/shelf/

**/.idea/**

### Gradle ###
**/.gradle/*
packwiz-ignore/**/build/
