# Exclude exported CurseForge zip files
*.zip

# Don't exclude these zip files
!RISTD Scratch.zip
!RISTD Scratch Server.zip

# Exclude exported Modrinth modpacks
*.mrpack

#### Java ####
# Compiled class file
*.class

# intellij files
/shelf/

**/.idea/**

### Gradle ###
**/.gradle/*
packwiz-ignore/**/build/
